<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rate Limiter Demo</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A production ready example Rails app that's using Docker and Docker Compose.">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%# Generated with: https://realfavicongenerator.net/ %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#61b9d2">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body class="flex flex-col h-screen justify-between">
    <nav class="bg-gray-100 shadow-sm py-3 px-6 flex justify-between items-center">
      <div class="text-lg font-semibold text-gray-800">
        <a href="/">Rate Limiter Demo</a>
      </div>
      <div class="space-x-4 text-sm">
        <a href="https://github.com/joaquin-peralta/rate-limiter-demo" class="text-blue-600 hover:underline">GitHub</a>
        <a href="https://linkedin.com/in/joaquin-peralta-1074291ba" class="text-blue-600 hover:underline">LinkedIn</a>
      </div>
    </nav>

    <main class="max-w-screen-lg mx-auto mb-auto">
      <%= yield %>
    </main>

    <footer class="text-center py-10 text-sm text-gray-500">
        <p>This project is a portfolio example of a distributed rate limiter built with <strong>Ruby on Rails <%= Rails::VERSION::STRING %></strong>, <strong>Redis</strong>, <strong>Docker</strong>, <strong>Hotwire</strong>, and <strong>Chart.js</strong>.</p>
        <p class="mt-2">
          View source code on
          <a href="https://github.com/joaquin-peralta/rate-limiter-demo" class="text-blue-600 hover:underline">GitHub</a>
          or connect with me on
          <a href="https://linkedin.com/in/joaquin-peralta-1074291ba" class="text-blue-600 hover:underline">LinkedIn</a>.
        </p>
    </footer>
  </body>
</html>
